.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.main-content-explore .course-section {
  margin-bottom: 40px;
}

.main-content-explore .decoration {
  margin-bottom: 20px;
}
