.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border-right: 1px solid #e5e9f0;
  padding: 20px;
  gap: 20px;
  width: clamp(180px, 22vw, 300px);
}

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 70px;
  width: auto;
  flex-shrink: 0;
}

.toggle-btn {
  background-color: #f2f7ff;
  border: none;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.toggle-btn:hover {
  background-color: #e6efff;
}

.icon {
  width: 20px;
  height: 20px;
}

/* PERFIL */
.profile {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  gap: 12px;
  user-select: none;
  transition: background 0.2s ease;
}

.profile:hover {
  background: #f0efef;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #0062DB;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.level {
  color: #0062DB;
  font-size: 12px;
}

/* MENÚ */
.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 8px;
  font-weight: 550;
  text-decoration: none;
  color: #303030;
  transition: background 0.3s, color 0.3s;
}

.menu-item:hover {
  background-color: #f0efef;
}

.menu-item.active {
  background-color: #f2f7ff;
  color: #0062DB;
}

.menu-item.active svg path {
  fill: #0062DB;
}

/* BOTÓN CERRAR SESIÓN */
.logout {
  border: none;
  background: none;
  cursor: pointer;
}

.logout:hover {
  color: #E62B2B;
  background: rgb(230 43 43 / 10%);
}

.logout:hover svg path {
  fill: #E62B2B;
}

svg path {
  transition: fill 0.3s;
}
